<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index Root Route</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script defer="defer" src="/app.js"></script>
  </head>
  <body>
    <header>
      <h1>Bienvenidos, Amigos</h1>
     </header>
    <br>
    <section>
    <a href='/users/'>Users</a>
    <a href='/posts/'>Posts</a>
    </section>
      <main class='guys'>
      <span><%=message%></span>
      <% if (onlineUser) { %>
<h2><%= user.username %>
      <% } else { %> 
        <h2>Login</h2>
        <form autocomplete="off" action="/users/login" method="POST">
          <input type="text" name="username">
          <input type="password" name="password">
          <button type='submit'>Login</button>
        </form>
      <% } %>

<a href='/users/register'>Sign Up Now!</a>


    </main>
  </body>
</html>
