.guys{
    background: radial-gradient(rgba(0, 0, 255, 1), rgba(255, 0, 0, 0.6))
}
h1{
    
    font-size: 6rem;
    
}
.animate{
    animation-name: example;
    animation-duration: 14s;
    animation-iteration-count: infinite;
    margin: 3rem 0 3rem 0rem;
}
@keyframes example {
    0%   {text-shadow: 0rem 0rem red;
          color: rgb(121, 60, 100, .5);}
    25%  {text-shadow: .8rem .8rem rgba(121, 60, 100, .5);
        color: rgba(19, 13, 14, 0);}
    50%  {text-shadow: -.2rem -.8rem black;
        color: rgb(252, 216, 222);}
    100% {text-shadow: 0rem 0rem red;
        color: rgba(121, 60, 100, .5);}
}
.postsinindexroute{
    font-size: 1rem;
    background: radial-gradient(yellow, transparent)
}
body{
    background-image: url("sue.jpeg");
    background-size: 20%;
    text-align: center;
}
.empty{
    padding: 2rem;
}
.forms{
    width: 80%;
    margin:auto;
}
.sectionClass{
    background: white;
}
.showPostBody{
    background: antiquewhite;
    margin: 1rem;
}
.short{
    font-size: 5rem;
    color: RED;
    background-color: bisque;
    width: 80%;
    margin: auto;
    height: 2%;
}
.long{
    font-size: 5rem;
    color: blue;
    background-color: bisque;
    width: 80%;
    margin: auto;
    height: 2%;
}
.allposts{
    background-color: rgba(255, 255, 255, .9);
    width: 80%;
    margin:auto;
}
.top{
    display: flex;
    flex-direction: row-reverse;
}
.register{
    background-color: rgb(128, 0, 96);
    border-style: solid;
    border-color: rgb(128, 0, 96);
    font-size: 2rem;
}
.usersLink{
    background-color: rgb(128, 115, 0);
    border-style: solid;
  border-color: rgb(128, 115, 0);;
}
.postsLink{
    background-color: forestgreen;
    border-style: solid;
  border-color: forestgreen;
}
.logOut{
    background-color: aquamarine;
    border-style: solid;
  border-color: aquamarine;
}
.logOut a {
    text-decoration: none;
    
}
a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }
.emoji{
    font-size: 4rem
}