.guys{
    background: radial-gradient(rgba(0, 0, 255, 1), rgba(255, 0, 0, 0.6))
}
h1{
    
    font-size: 6rem;
    
}
.animate{
    animation-name: example;
    animation-duration: 14s;
    animation-iteration-count: infinite;
}
@keyframes example {
    0%   {text-shadow: 0rem 0rem red;
          color: rgb(121, 60, 100, .5);}
    25%  {text-shadow: .8rem .8rem rgba(121, 60, 100, .5);
        color: rgba(19, 13, 14, 0);}
    50%  {text-shadow: -.2rem -.8rem black;
        color: rgb(252, 216, 222);}
    100% {text-shadow: 0rem 0rem red;
        color: rgba(121, 60, 100, .5);}
}
/* NitLWR8n5RZFFBsxmCsu */
.postsinindexroute{
    font-size: 1rem;
    background: radial-gradient(yellow, transparent)
}
body{
    background-image: url("sue.jpeg");
    background-size: 20%;
    text-align: center;
}
.empty{
    padding: 2rem;
}
.forms{
    width: 80%;
    margin:auto;
}
.sectionClass{
    background: white;
}
.showPostBody{
    background: antiquewhite;
    margin: 1rem;
}
.short{
    font-size: 3rem;
    color: RED
}
.long{
    font-size: 3rem;
    color: blue
}