<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
    <body>
        <main>
            <h2>Register</h2>
                <form autocomplete="off" action="/users/register" method="POST">
                <input type="text" placeholder="Username" name="username">
                <input type="password" placeholder="Password" name="password">
                <input type="email" placeholder="email" name="email">
                <button type="submit">Create Account!</button>
           </form>
        </main>
    </body>
</html>